# Core analysis
coverage>=7.4
radon>=6.0
PyYAML>=6.0

# Data handling
pandas>=2.0
numpy>=1.24

# Machine Learning
scikit-learn>=1.3
joblib>=1.3

# Test execution
pytest>=7.0

#Visualization and Formatting
matplotlib>=3.8
seaborn>=0.13
plotly>=5.18
Pillow>=10.0